version: "3.9"
services:

  gateway:
    build: ./gateway
    ports:
      - "3000:3000"
    depends_on:
      rabbitmq:
        condition: service_healthy
      redis:
        condition: service_healthy
    networks:
      - notif-net
    environment:
      - RABBITMQ_URL=amqp://admin:admin123@rabbitmq:5672
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - USER_SERVICE_URL=http://user-service:8000
      - TEMPLATE_SERVICE_URL=http://template-service:8000

  user-service:
    build: ./user-service
    ports:
      - "8001:8000"
    networks:
      - notif-net
    depends_on:
      - postgres
    environment:
      - DATABASE_URL=postgresql://user:pass@postgres/userdb

  email-service:
    build: ./email-service
    depends_on:
      rabbitmq:
        condition: service_healthy
    networks:
      - notif-net
    environment:
      - RABBITMQ_URL=amqp://admin:admin123@rabbitmq:5672
    restart: unless-stopped

  push-service:
    build: ./push-service
    depends_on:
      rabbitmq:
        condition: service_healthy
    networks:
      - notif-net
    environment:
      - RABBITMQ_URL=amqp://admin:admin123@rabbitmq:5672
      - TEMPLATE_SERVICE_URL=http://template-service:8000
      - REDIS_URL=redis://redis:6379
      # - GOOGLE_APPLICATION_CREDENTIALS={"type": "service_account", "project_id": "your-project-id", ...}

  template-service:
    build: ./template-service
    ports:
      - "8002:8000"
    networks:
      - notif-net
    depends_on:
      - postgres
    environment:
      - DATABASE_URL=postgresql://user:pass@postgres/userdb

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    networks:
      - notif-net
    environment:
      - RABBITMQ_DEFAULT_USER=admin
      - RABBITMQ_DEFAULT_PASS=admin123
    healthcheck:
      test: [ "CMD", "rabbitmq-diagnostics", "-q", "ping" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s

  postgres:
    image: postgres:15
    container_name: postgres
    networks:
      - notif-net
    environment:
      - POSTGRES_PASSWORD=pass
      - POSTGRES_USER=user
      - POSTGRES_DB=userdb
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U user" ]
      interval: 10s
      timeout: 5s
      retries: 5

  redis:
    image: redis:latest
    container_name: redis
    ports:
      - "6379:6379"
    networks:
      - notif-net
    volumes:
      - redis_data:/data
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 10s
      timeout: 5s
      retries: 5

networks:
  notif-net:
    driver: bridge

volumes:
  rabbitmq_data:
  postgres_data:
  redis_data:
